body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.header{
  @include flex-container(row, flex-start, center);
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid $gray;
}

.container{
  @include flex-container(row, space-between, center);
  padding: 20px;
}

.navigation {
  margin-left: auto;

  &__footer{
    width: 100%;
  }
}

.item{
  @include flex-container(column, flex-start, flex-start);
  padding: 20px;
  max-width: calc(30% - 20px);

  img {
    width: 100%;
  }

  strong {
    font-size: 20px;
    padding: 10px 0;
  }

  &__description {
    @include flex-container(column, flex-start, flex-start);
    padding-right: 20%;
  }
}

.footer{
  @include flex-container(row, flex-start, center);
  padding: 20px 0;
  margin-top: 20px;
  border-top: 2px solid $gray;
}